/* .body {
    margin: 0;
    background: #ffff;
    cursor: crosshair;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: Geometria;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
  } */
 
 
 
  /* .box {
    width: 1600px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
  .confetti{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    user-select: none;
 }
 
 body
 {
       cursor: pointer;
 }
 .name
 {
      font-weight: 900;
     text-transform: uppercase;
     padding: 36px;
     position: absolute;
     left: 0;
     right: 0;
     text-align: center;
     top: 37%;
     color: rebeccapurple;
     font-family: 'Righteous', cursive;
     font-size: 93px;
     letter-spacing: 10px;
     text-shadow: 2px 4px 11px rgb(0 0 0 / 28%);
       -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: white;
 } */



 .box {
  width: 1600px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.box img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}